In [1]:
run hello.py

Hello, World.

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [6]:
mylist=[]
mylist.append('miru')
mylist.append('meri miru')
print(mylist)

['miru', 'meri miru']

In [7]:
 print "Hello, Python!"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Hello, Python!")? (<ipython-input-7-fdf7736822d6>, line 1)

In [8]:
if 5 > 2 :
    print("5>2")

5>2

In [9]:
#This is a comment
x=5
y=2
if x>y:
    print("x is greater than y")

x is greater than y

In [13]:
x=int(3)
y=str(3)
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [18]:
x,y=6,9
print(x)
print(y)
if x>y:
    print("x greater than y")   
else:
    print("y greater than x")

6
9
y greater than x

In [19]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [20]:
#Unpack a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [21]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [22]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [23]:
#If you try to combine a string and a number, Python will give you an error:

x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [26]:
x = "awesome"

def myfunc():
  x ="amazing " 
  print("Python is " + x)

myfunc()
print("Python is " + x)

Python is amazing
Python is awesome

In [27]:
x="awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [38]:
#Data types
x = ["apple", "banana", "cherry"]
print(type(x))

x = ("apple", "banana", "cherry")
print(type(x))

x = range(6)
print(x)
print(type(x))

x = {"name" : "John", "age" : 36}
print(type(x))

x = {"apple", "banana", "cherry"}
print(type(x))

x = frozenset({"apple", "banana", "cherry"})
print(type(x))

x = True
print(type(x))

x = b"Hello"
print(type(x))

x = bytearray(5)
print(type(x))

x = memoryview(bytes(5))
print(type(x))

<class 'list'>
<class 'tuple'>
range(0, 6)
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

In [39]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))
#Note: You cannot convert complex numbers into another number type.

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [40]:
#Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

#Example
#Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

8

In [41]:
#Strings
#Strings in python are surrounded by either single quotation marks, or double quotation marks.

#'hello' is the same as "hello".

#You can display a string literal with the print() function:

#Example
print("Hello")
print('Hello')

Hello
Hello

In [42]:
a="""this is a multiline 
string. Check how python handles this"""
print(a)

this is a multiline
string. Check how python handles this

In [1]:
#Strings are Arrays
a = "Hello, World!"
print(a[1])

e

In [4]:
#Looping Through a String
for x in "banana":
  print(x)

for x in 'apple':
  print(x)

b
a
n
a
n
a
a
p
p
l
e

In [5]:
#String Length
a = "Hello, World!"
print(len(a))

13

In [6]:
#Check String
#To check if a certain phrase or character is present in a string, we can use the keyword in.

txt = "The best things in life are free!"
print("free" in txt)

True

In [8]:
#Slice To the End
b = "Be empowered!"
print(b[2:])

 empowered!

In [10]:
#Negative Indexing
b = "Hello, World!"
print(b[-5])
print(b[-2])
print(b[-5:-2])

o
d
orl

In [13]:
#Upper Case
a = "Hello, World!"
print(a.upper())
print(a.lower())

HELLO, WORLD!
hello, world!

In [16]:
#Remove Whitespace
a = "             Hello, World!           "
print(a.strip())

Hello, World!

In [17]:
#Replace String
a = "Hello, World!"
print(a.replace('H', 'T'))

Tello, World!

In [20]:
#Split String
a = "Hello, World!"
print(a.split())
print(a.split(","))
print(a.split("l"))

['Hello,', 'World!']
['Hello', ' World!']
['He', '', 'o, Wor', 'd!']

In [22]:
#String Concatenation
a = "Hello"
b = "World"
d = " "
c = a + b
print(c)
c = a +d+ b
print(c)

HelloWorld
Hello World

In [25]:
#String Format
age = 6
txt = "My name is Miraya, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [29]:
#String Format
age = 6
txt = "My name is Miraya, I am {}"
print(txt)

print(txt.format(age))
txt="Please give me {} apples and {} bananas"

print(txt.format(2,3))

My name is Miraya, I am {}
My name is Miraya, I am 6
Please give me 2 apples and 3 bananas

In [30]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [31]:
#Escape Character
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (<ipython-input-31-b2d5ef9099ac>, line 2)

In [32]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [44]:
#String functions
a='my name is Miraya'
print(a.capitalize())
print(a.count('m'))
print(a.find('n'))
print(a.partition('name'))

My name is miraya
2
3
('my ', 'name', ' is Miraya')

In [46]:
#Boolean Values
print(10 > 9)
print(10 == 9)
print(10 < 9)
print(bool("Hello"))
print(bool(15))

True
False
False
True
True

In [47]:
#Most Values are True
#Almost any value is evaluated to True if it has some sort of content.
#Any string is True, except empty strings.
#Any number is True, except 0.
#Any list, tuple, set, and dictionary are True, except empty ones.
#The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [48]:
#Some Values are False
#In fact, there are not many values that evaluate to False, except empty values, 
#such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.


bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [50]:
def myFunction():
    return True

if myFunction():
    print('True')
else:
    print('False')

True

In [56]:
#Python Operators
print(5+4)
print(6==7)
print(5>4)
print(5>4 and 8>9)
print(8 is 9)

9
False
True
False
False

In [63]:
#----------------Python Collections (Arrays)------------------
#There are four collection data types in the Python programming language:

#1)List is a collection which is ordered and changeable. Allows duplicate members.
#2)Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#3)Set is a collection which is unordered and unindexed. No duplicate members.
#4)Dictionary is a collection which is ordered* and changeable. No duplicate members.

In [73]:

#Python Lists
#Lists are used to store multiple items in a single variable.
#Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
#Lists are created using square brackets:
#List items are ordered, changeable, and allow duplicate values.
#List items are indexed, the first item has index [0], the second item has index [1] etc.
#a)If you add new items to a list, the new items will be placed at the end of the list.
#b)The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
#c)Since lists are indexed, lists can have items with the same value:

myList=["a","b","c","a","d"]
print(myList)
print(len(myList))

#List items can be of any data type:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

#A list can contain different data types:
list1 = ["abc", 34, True, 40, "male"]

#Access list items
print(list1[1])
print(list1[-1])
print(list1[1:3])
print(list1[:3])
print(list1[-4:-3])
print(list1[-4:-2])

#check if item exists
if "abc" in list1:
    print("Item exists")

['a', 'b', 'c', 'a', 'd']
5
34
male
[34, True]
['abc', 34, True]
[34]
[34, True]
Item exists

In [90]:
#Change List Items
list1 = ["abc", 34, True, 40, "male"]
list1[1]=55
print(list1)
list1[2:4]=[False,60]
print(list1)
list1[2:4]=[False,60,"Female"]
print(list1)


#To insert a new list item, without replacing any of the existing values, we can use the insert() method.
list1.insert(1,33)
print(list1)

#Append Items
print(list1)
list1.append('dog')
print(list1)

#Extend list
thislist = ["apple", "banana", "cherry"]
myList = ["1", "2", "3"]
thislist.extend(myList)
print(thislist)

#Add Any Iterable
#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

#Python - Remove List Items
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

thislist.pop(0)
print(thislist)
#If you do not specify the index, the pop() method removes the last item.

thislist.insert(1,"papaya")
print(thislist)

del thislist[0]
print(thislist)

#The del keyword can also delete the list completely.
del thislist
print(thislist)

#The clear() method empties the list.

['abc', 55, True, 40, 'male']
['abc', 55, False, 60, 'male']
['abc', 55, False, 60, 'Female', 'male']
['abc', 33, 55, False, 60, 'Female', 'male']
['abc', 33, 55, False, 60, 'Female', 'male']
['abc', 33, 55, False, 60, 'Female', 'male', 'dog']
['apple', 'banana', 'cherry', '1', '2', '3']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
['banana', 'cherry']
['cherry']
['cherry', 'papaya']
['papaya']

NameError: name 'thislist' is not defined

In [99]:
#Looping through the list
myList=['apple', 'banana', 'cherry', 'kiwi', 'orange']
print("-----------using for loop---------------")
for i in myList:
    print(i)

print("-----------using index and len---------------")
for i in range(len(myList)):
    print(myList[i])
    
print("-----------using while loop---------------") 
i=0
while i < len(myList):
    print(myList[i])
    i=i+1
    
print("-----------short hand for loop---------------")     
[print (x) for x in myList]

-----------using for loop---------------
apple
banana
cherry
kiwi
orange
-----------using index and len---------------
apple
banana
cherry
kiwi
orange
-----------using while loop---------------
apple
banana
cherry
kiwi
orange
-----------short hand for loop---------------
apple
banana
cherry
kiwi
orange

[None, None, None, None, None]

In [114]:
#List Comprehension
#List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
#newlist = [expression for item in iterable if condition == True]

myList=['apple', 'banana', 'cherry', 'kiwi', 'orange']
newList=[]
print("With for loop")

for x in myList:
    if "a" in x:
        newList.append(x)
        
print(newList)   

print("With List comprehension")
myList=['apple', 'banana', 'cherry', 'kiwi', 'orange']
newList1=[x for x in myList if "a" in x]
print(newList1)  

l1=[]
l1 =  [x for x in range(10) if x < 5]
print(l1)

With for loop
['apple', 'banana', 'orange']
With List comprehension
['apple', 'banana', 'orange']
[0, 1, 2, 3, 4]

In [116]:
#sort list
l1=[5,11,2,4,0,13]
l1.sort()
print(l1)

#Sort Descending
l1.sort(reverse=True)
print(l1)

[0, 2, 4, 5, 11, 13]
[13, 11, 5, 4, 2, 0]

In [119]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

#Perform a case-insensitive sort of the list:
thislist.sort(key = str.lower)
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']

In [122]:
#copy lists
thislist = ["banana", "Orange", "Kiwi", "cherry"]
l1=thislist.copy()
print(l1)

l2=list(thislist)
print(l2)

['banana', 'Orange', 'Kiwi', 'cherry']
['banana', 'Orange', 'Kiwi', 'cherry']

In [127]:
#join lists
#Method 1

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list3 = ["x","y","z"]

for x in list2:
    list1.append(x)
    
print(list1)   

#Method2
list1.extend(list3)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3, 'x', 'y', 'z']

In [138]:
#Python Tuples
#A tuple is a collection which is ordered and unchangeable, and allow duplicate values.
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))

#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

#A tuple can contain different data types
tuple1 = ("abc", 34, True, 40, "male")

#It is also possible to use the tuple() constructor to make a tuple.
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

#Access tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

('apple', 'banana', 'cherry')
3
<class 'tuple'>
<class 'str'>
('apple', 'banana', 'cherry')
banana
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

In [139]:
#Change Tuple Values
x = ("apple", "banana", "cherry")
x[1]='abc'

#Tuples are unchangeable

TypeError: 'tuple' object does not support item assignment

In [146]:
#Convert tuple to a list to change its values
x = ("apple", "banana", "cherry")
y=list(x)
y[1]='kiwi'
print(y)
x=tuple(y)
print(x)

#Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.
print(x)
y=list(x)
y.append('melon')
print(y)
x=tuple(y)
print(x)

#Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

#you can delete the tuple completely:
del x
print(x)

['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')
('apple', 'kiwi', 'cherry')
['apple', 'kiwi', 'cherry', 'melon']
('apple', 'kiwi', 'cherry', 'melon')

NameError: name 'x' is not defined

In [147]:
#Unpacking tuples
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [149]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red) #note that this gets created as a list

apple
banana
['cherry', 'strawberry', 'raspberry']

In [150]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

#If the asterix is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

apple
['mango', 'papaya', 'pineapple']
cherry

In [156]:
#Loop Through a Tuple
myTuple=('a','b','c')
for x in myTuple:
    print(x)
    
#Using range 
for x in range(len(myTuple)):
    print(myTuple[x])
    
#Using while loop
i=0
while i<len(myTuple):
    print(myTuple[i])
    i=i+1

a
b
c
a
b
c
a
b
c

In [158]:
#join tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

#Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [162]:
#tuple methods
t1=('a','b','c','a')
print(t1.count('a'))
print(t1.index('b'))

2
1

In [167]:
#Set Items
#Set items are unordered, unchangeable, and do not allow duplicate values.
#****Once a set is created, you cannot change its items, but you can add new items.

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)
print(len(thisset))

#Set items can be of any data type:
#A set can contain different data types:
set1 = {"abc", 34, True, 40, "male"}

#Using the set() constructor to make a set:
thisset = set(("a", "b", "c")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}
3
{'c', 'a', 'b'}

In [169]:
#Access Items
#You cannot access items in a set by referring to an index or a key.
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

print("banana" in thisset)

banana
cherry
apple
True

In [172]:
#Add Items
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

#Add Sets
#To add items from another set into the current set, use the update() method.

set2={1,2,3}
thisset.update(set2)
print(thisset)

#Add Any Iterable
#The object in the update() method does not have be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

list1=['x','y','z']
thisset.update(list1)
print(thisset)

{'banana', 'cherry', 'apple', 'orange'}
{'banana', 1, 'cherry', 'orange', 2, 3, 'apple'}
{1, 'cherry', 2, 3, 'y', 'orange', 'apple', 'banana', 'z', 'x'}

In [176]:
#Remove Item
#To remove an item in a set, use the remove(), or the discard() method.
thisset.remove('cherry')
print(thisset)

#Note: If the item to remove does not exist, remove() will raise an error.

KeyError: 'cherry'

In [177]:
thisset={1, 'cherry', 2, 3, 'y', 'orange', 'apple', 'banana', 'z', 'x'}
thisset.discard('orange')
print(thisset)
#Note: If the item to remove does not exist, discard() will NOT raise an error.

{1, 'cherry', 3, 2, 'apple', 'banana', 'y', 'z', 'x'}

In [178]:
#Pop -You can also use the pop() method to remove an item, but this method will remove the last item
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)
#Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

banana
{'cherry', 'apple'}

In [179]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

#The del keyword will delete the set completely:

set()

In [180]:
#Loop Items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [181]:
#Join Two Sets
#Union
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [182]:
#update
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)
#Note: Both union() and update() will exclude any duplicate items.

{1, 2, 3, 'a', 'b', 'c'}

In [183]:
#Keep ONLY the Duplicates
#The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [184]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [185]:
#Keep All, But NOT the Duplicates
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'google'}

In [186]:
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'microsoft', 'google'}

In [193]:
#Python Dictionaries
#Dictionary items are ordered, changeable, and does not allow duplicates.
#Dictionary items are presented in key:value pairs, and can be referred to by using the key name.
myDict={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT'
}

print(myDict)

#no dups allowd
myDict1={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'dept':'HR'
}
print(myDict1)

#len
print(len(myDict1))

#The values in dictionary items can be of any data type:
#String, int, boolean, and list data types:
myDict={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}

print(myDict)

{'ename': 'Pradnya', 'age': 31, 'dept': 'IT'}
{'ename': 'Pradnya', 'age': 31, 'dept': 'HR'}
3
{'ename': 'Pradnya', 'age': 31, 'dept': 'IT', 'Vehicles': ['Activa', 'i10']}

In [200]:
#Accessing Items
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}

print(myD['ename'])
print(myD['Vehicles'])
print(myD.get('age'))
print(myD.keys())

Pradnya
['Activa', 'i10']
31
dict_keys(['ename', 'age', 'dept', 'Vehicles'])

In [204]:
#Adding keys
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}

print(myD.keys())
myD['Address']='India'
print(myD.keys())
print(myD)

print(myD.values())
myD['Address']='UK'
print(myD)

dict_keys(['ename', 'age', 'dept', 'Vehicles'])
dict_keys(['ename', 'age', 'dept', 'Vehicles', 'Address'])
{'ename': 'Pradnya', 'age': 31, 'dept': 'IT', 'Vehicles': ['Activa', 'i10'], 'Address': 'India'}
dict_values(['Pradnya', 31, 'IT', ['Activa', 'i10'], 'India'])
{'ename': 'Pradnya', 'age': 31, 'dept': 'IT', 'Vehicles': ['Activa', 'i10'], 'Address': 'UK'}

In [205]:
#getitems
#The items() method will return each item in a dictionary  as tuples in a list.
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}
print(myD.items())

dict_items([('ename', 'Pradnya'), ('age', 31), ('dept', 'IT'), ('Vehicles', ['Activa', 'i10'])])

In [206]:
#Check if Key Exists
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}
if 'age' in myD:
    print('age key exists in dictionary')

age key exists in dictionary

In [208]:
#Change Values
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}
myD['age']=30
print(myD)

myD.update({'dept':'HR'})
print(myD)

{'ename': 'Pradnya', 'age': 30, 'dept': 'IT', 'Vehicles': ['Activa', 'i10']}
{'ename': 'Pradnya', 'age': 30, 'dept': 'HR', 'Vehicles': ['Activa', 'i10']}

In [209]:
#Adding Items
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}

myD['Address']='India'

print(myD)

{'ename': 'Pradnya', 'age': 31, 'dept': 'IT', 'Vehicles': ['Activa', 'i10'], 'Address': 'India'}

In [214]:
#Removing Items
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}

myD.pop('age')
print(myD)

#The popitem() method removes the last inserted item
myD.popitem()
print(myD)

#The del keyword removes the item with the specified key name:
del myD['dept']
print(myD)

#he del keyword can also delete the dictionary completely:
del myD

#The clear() method empties the dictionary:
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}

myD.clear()
print(myD)

{'ename': 'Pradnya', 'dept': 'IT', 'Vehicles': ['Activa', 'i10']}
{'ename': 'Pradnya', 'dept': 'IT'}
{'ename': 'Pradnya'}
{}

In [219]:
#loop thru a dictionary
myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}


for x in myD:
    print(x)
    
    
for x in myD:
    print(myD[x])
    
for x in myD.values():
  print(x)    
    
for x in myD.keys():
  print(x)     

for x,y in myD.items():
    print(x,y)

ename
age
dept
Vehicles
Pradnya
31
IT
['Activa', 'i10']
Pradnya
31
IT
['Activa', 'i10']
ename
age
dept
Vehicles
ename Pradnya
age 31
dept IT
Vehicles ['Activa', 'i10']

In [221]:
#Copy Dictionary

myD={
    'ename':'Pradnya',
    'age':31,
    'dept':'IT',
    'Vehicles': ['Activa','i10']
}

myD1=myD.copy()

print(myD1)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'ename': 'Pradnya', 'age': 31, 'dept': 'IT', 'Vehicles': ['Activa', 'i10']}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [226]:
#Nested Dictionaries-I

myFamily={
    'member1':{
        'name':'Pradnya',
        'age':31
    },
    'member2':{
        'name':'Miraya',
        'age':2
    },
    'member3':{
        'name':'Dhruv',
        'age':31
    }
    
}

print(myFamily)
print(myFamily.keys())

{'member1': {'name': 'Pradnya', 'age': 31}, 'member2': {'name': 'Miraya', 'age': 2}, 'member3': {'name': 'Dhruv', 'age': 31}}
dict_keys(['member1', 'member2', 'member3'])

In [233]:
#Nested Dictionaries-II
member1={
    'name':'abc',
    'age':21
}
member2={
    'name':'xyz',
    'age':22
}
member3={
    'name':'uvw',
    'age':23
}

myFamily={
    'child1': member1,
    'child2':member2,
    'child3':member3
    
}


print(myFamily)
print('---------------------------------------------------------')
print(myFamily.items())
print('---------------------------------------------------------')
print(member1.items())

{'child1': {'name': 'abc', 'age': 21}, 'child2': {'name': 'xyz', 'age': 22}, 'child3': {'name': 'uvw', 'age': 23}}
---------------------------------------------------------
dict_items([('child1', {'name': 'abc', 'age': 21}), ('child2', {'name': 'xyz', 'age': 22}), ('child3', {'name': 'uvw', 'age': 23})])
---------------------------------------------------------
dict_items([('name', 'abc'), ('age', 21)])

In [239]:
#if..Else
x=5
y=6
if x>y:
    print('x is greater than y')
elif x==y:
    print('x is  equal to y')
else:
    print('y is greater than x')

y is greater than x

In [241]:
#Short Hand If
a=10
b=8
if a > b: print("a is greater than b")
    
#Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

a is greater than b
B

In [244]:
#Nested If
x=40
if x>10:
        print('x is greater than 10')
        if x>20:
            print('and also above 20!')
        else:
            print('but not above 20')

x is greater than 10
and also above 20!

In [245]:
#The pass Statement
a = 33
b = 200

if b > a:
  pass

In [246]:
#while Loop
#continue
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [247]:
#break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [248]:
#else statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [251]:
#for loop
for x in "banana":
  print(x)

#break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
    
#continue
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

b
a
n
a
n
a
apple
banana
apple
cherry

In [254]:
#range 
for x in range(6):
  print(x)

for x in range(2, 6):
  print(x)

#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

0
1
2
3
4
5
2
3
4
5
2
5
8
11
14
17
20
23
26
29

In [255]:
#else in for loop
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [256]:
#pass
for x in [0, 1, 2]:
  pass

In [259]:
#Python Functions
def my_Func():
    print('Hello,World !!!')
    
my_Func()

Hello,World !!!

In [260]:
def my_Func(fname):
    print('Hello '+fname)
    
my_Func('Pradnya')

Hello Pradnya

In [261]:
#Arbitrary Arguments, *args
#If the number of arguments is unknown, add a * before the parameter name:

def my_Func(*fruits):
    print('I would love to have '+fruits[1])
    
my_Func('apples','cherries','bananas')

I would love to have cherries

In [262]:
#Keyword Arguments
#You can also send arguments with the key = value syntax.

def my_Func(fruit1,fruit2,fruit3):
    print('I like to eat '+fruit2)
    
my_Func(fruit1='apple',fruit2='banana',fruit3='oranges')

I like to eat banana

In [263]:
#Arbitrary Keyword Arguments, **kwargs
#If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.
#This way the function will receive a dictionary of arguments, and can access the items accordingly:

def my_Func(**fruit):
    print('I like to eat '+fruit['fruit3'])
    
my_Func(fruit1='apple',fruit2='banana',fruit3='oranges')

I like to eat oranges

In [264]:
#Default Parameter Value
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [265]:
#Return Values
# let a function return a value, use the return statement:

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [268]:
#Python Lambda
#lambda arguments : expression
#A lambda function can take any number of arguments, but can only have one expression.
x = lambda a : a * 10
print(x(5))

x = lambda a, b : a * b
print(x(5, 6))

50
30

In [270]:
#Why Use Lambda Functions?
#The power of lambda is better shown when you use them as an anonymous function inside another function.
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [271]:
#Python Classes/Objects
class MyClass:
  x = 5

p=MyClass()
print(p.x)

5

In [278]:
#The __init__() Function
#All classes have a function called __init__(), which is always executed when the class is being initiated.
#Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

class Address:
    def __init__(self, City, Country):
        self.City=City
        self.Country=Country
        
c1=Address('Mumbai', 'India')

print(c1.City)
print(c1.Country)
c1.City='Chennai'
print(c1.City)

Mumbai
India
Chennai

In [283]:
#Object Methods
#Objects can also contain methods. Methods in objects are functions that belong to the object.
#Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.
#It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:
class Address:
    def __init__(self,city,country):
        self.city=city
        self.country=country
        
    def myFunc(self):
        print('My address is '+ self.city+' , '+ self.country)
        
c1=Address('Banglore','India')

c1.myFunc()

My address is Banglore , India

In [293]:
#Python Inheritance
#Inheritance allows us to define a class that inherits all the methods and properties from another class.
#Parent class is the class being inherited from, also called base class.
#Child class is the class that inherits from another class, also called derived class.
class Person:
    def __init__(self,name,surname):
        self.name=name
        self.surname=surname
      
        
    def return_person(self):
        print(self.name +" "+self.surname )
     
        
class Engineer(Person):
    pass

class HR(Person):
    def __init__(self,name,surname,yoe):
        Person.__init__(self,name,surname)
        self.years_of_experience=yoe
        
    def return_details(self):
        print(self.name +" "+self.surname +" "+ str(self.years_of_experience) )
        
c1=Person('Ryan','Reynolds') 
c1.return_person()
s1=Engineer('Blake','Lively')
s1.return_person()
h1=HR('Miraya','Vinayak',9)
h1.return_person()
h1.return_details()

Ryan Reynolds
Blake Lively
Miraya Vinayak
Miraya Vinayak 9

In [297]:
#iter and next methods

mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))

apple
banana
cherry
b
a

In [299]:
#scope
x=20

def myFunc():
    print(x)
    
myFunc()
print(x)

20
20

In [300]:
x=20

def myFunc():
    x=30
    print(x)
    
myFunc()
print(x)

30
20

In [301]:
x=20

def myFunc():
    global x
    x=30
    print(x)
    
myFunc()
print(x)

30
30

In [306]:
#Python Modules
import platform

x = platform.system()
print(x)

#There is a built-in function to list all the function names (or variable names) in a module. The dir() function:
import platform

x = dir(platform)
print(x)

Windows
['DEV_NULL', '_UNIXCONFDIR', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_dist_try_harder', '_follow_symlinks', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_linux_distribution', '_lsb_release_version', '_mac_ver_xml', '_node', '_norm_version', '_parse_release_file', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_release_filename', '_release_version', '_supported_dists', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_uname', '_syscmd_ver', '_uname_cache', '_ver_output', '_ver_stages', 'architecture', 'collections', 'dist', 'java_ver', 'libc_ver', 'linux_distribution', 'mac_ver', 'machine', 'node', 'os', 'platform', 'popen', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'subprocess', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'warnings', 'win32_ver']

In [310]:
#Python Datetime
import datetime

x = datetime.datetime.now()
print(x)
print(x.year)
print(x.day)

2021-06-04 17:37:48.070795
2021
4

In [312]:
#Create a date object:

import datetime

x = datetime.datetime(2021, 6, 4)

print(x)

2021-06-04 00:00:00

In [319]:
#The datetime object has a method for formatting date objects into readable strings.
#The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:
import datetime

x = datetime.datetime.now()

print(x.strftime("%B"))
print(x.strftime("%A"))

June
Friday

In [321]:
#Python Math
x=min(4,5,6)
print(x)

y=abs(-6)
print(y)

4
6

In [329]:
#The Math Module
import math
x=math.sqrt(9)
print(x)

3.0

In [331]:
#Python JSON
#If you have a JSON string, you can parse it by using the json.loads() method.
import json
#json string
x='{"file_type":"delta", "delimeter":"Comma","no_fields":30}'

#parse x
y=json.loads(x)

#the result is a python dictionary
print(y["file_type"])

delta

In [ ]:
#Convert from Python to JSON
import json
#python dict
x={"file_type":"delta",
   "delimeter":"Comma",
   "no_fields":30}

# convert into JSON:
y=json.dumps(x)
print(x)

In [334]:
#You can convert Python objects of the following types, into JSON strings:

#dict
#list
#tuple
#string
#int
#float
#True
#False
#None
#Example
#Convert Python objects into JSON strings, and print the values:

import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [ ]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))
json.dumps(x, indent=4)
json.dumps(x, indent=4, sort_keys=True)

In [ ]:
#Python RegEx
#A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.
#Search the string to see if it starts with "The" and ends with "Spain":

import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

In [ ]:
#Python Try Except
#The try block lets you test a block of code for errors.
#The except block lets you handle the error.
#The finally block lets you execute code, regardless of the result of the try- and except blocks

try:
  print(m)
except:
  print("An exception occurred")

In [ ]:
try:
  print(xb)
except NameError:
  print("Variable xb is not defined")
except:
  print("Something else went wrong")

In [ ]:
try:
  print(vx)
except:
  print("Something went wrong")
  pass
finally:
  print("The 'try except' is finished")

In [ ]:
#Raise an exception
xtn = -1

if xtn < 0:
  raise Exception("Sorry, no numbers below zero")

In [ ]:
#Python User Input
username = input("Enter username:")
print("Username is: " + username)

In [1]:
print("hello")

hello

In [2]:
#Python String Formatting
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

hello